@model IEnumerable<Miniproject2.Models.UserClass>
@{
    ViewBag.Title = "Home";

}
@using (Html.BeginForm("Homelogout","User"))
{
    <h1>Home Page</h1>


    <h3> Welcome @Session["username"]</h3>
<h3>full name is @Session["fullname"]</h3>


@Html.ActionLink("UpdateProfile", "update", new { id = @Session["username"] })
<input type="submit" value="Logout" />

}